*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
scroll-behavior: smooth ;
}
:root {
    --black: #000;
    --gold: #c29c5e;
    --white: #e5e5e5;
    --matterhorn: #524c4c;
    --dark: #2F2F2F;
    --gray: #B6B6B6;
}

.gold {
    color: var(--gold)
}

.black {
    color: var(--black)
}

.white {
    color: var(--white)
}

.matterhorn {
    color: var(--matterhorn)
}

.bg-dark {
    background-color: var(--dark)
}

.gray {
    color: var(--gray)
}

.bg-gray {
    background-color: var(--gray)
}

.main-wrapper {
    background-color: var(--white);
}

.cup {
    width: 50px;
}

.card {
    border: 0;
}

a {
    color:#e5e5e5;  
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}


/* --========= Font Style =========-- */

.ff-damino {
    font-family: 'Damion', cursive;
}

.ff-norican {
    font-family: 'Norican', cursive;
}

.ff-os {
    font-family: 'Open Sans', sans-serif;
}

.ff-ols {
    font-family: 'Overlock SC', cursive;
}

.ff-bs {
    font-family: 'Bubblegum Sans', cursive;
}

.bold {
    font-weight: bold;
}

.hr-container {
    width: 100%;
    height: 41px;
}

.hr {
    border-color: #c79c60;
}

.bg-img {
    background-image: url(../img/bg-img.png);
    background-size: cover;
    height: calc(100vh - 150px);
}

.black-bg {
    background: var(--black);
}

/* button */

.btn-bg {
    background: url(../img/Rectangle\ 2.png);
    background-size: cover;
    border: 0;
    border-radius: 37px;
    padding: 15px;
}

.btn-bg span {
    border: 1px var(--gold) solid;
    border-radius: 42px;
    padding: 6px 26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    /* letter-spacing: 1.1px; */
}

/*  Custom Css */

.center {
    height: calc(100vh - 150px);
}

.title {
    font-size: 55px;
}
.cup-title{
    font-size: 45px;
}

.nav-item:hover.nav-link,.nav-item:active.nav-link {
    color: #c29c5e
}
.active{
    color:#c29c5e!important;
}
/* <!--==============  3. The Best Coffee For You   ==============--> */
.best-coffee .row{
    align-items: center;
}

/* <!--==============  4.Popular Items   ==============--> */

.coffee-name {
    font-size: 50px;
    line-height: 69px;
}

.popular-items .mb {
    margin-bottom: 50px;
}

.popular-items .card-footer {
    text-align: -webkit-center;
    background: transparent;
    border: 0;
    margin-bottom: -70px;
}

.order-now {
    font-size: 24px;
    width: 100px;
    height: 100px;
    background-color: rgb(82, 76, 76);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -50px;
}

.order-now::before {
    position: absolute;
    content: '';
    display: flex;
    justify-content: center;
    height: 85px;
    width: 85px;
    flex-direction: column;
    border-radius: 100%;
    border: 3px var(--gray) solid;
    align-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 8px;
}

/* <!--==============  5.Today’s Special   ==============--> */


.todays-special .special-description {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 12px 10px 5px;
}

.social-icons-container {
    display: flex;
    transition: all 0.3s ease;
    margin-right: 10px;
    justify-content: space-around;
}

.social-icon {
    display: flex;
    background: #B6B6B6;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}


.copyright {
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    height: 100px;
    background: white;
    color: #000;
    font-weight: 700;
}

.footer p {
    font-size: 12px;
}

@media only screen and (min-width: 1600px) {
    .container-fluid {
        max-width: 1600px;
    }
    .container {
        max-width: 1400px;
    }
}

@media only screen and (max-width: 768px) {
    .popular-items.card {
        padding: 0px 0 75px;
    }
    .coffee-name {
        font-size: 37px;
    }
}